* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(135deg, #ffffff, #f8f8f8);
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  min-height: 100dvh;
}

.convite-container {
  position: relative;
  max-width: 700px;
  width: 100%;
  border: 2px solid #556B2F;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 15px 50px rgba(0,0,0,0.06);

  background-image: 
    linear-gradient(
      to bottom,
      rgba(255,255,255,0) 30%,
      rgba(255,255,255,0.6) 55%,
      rgba(255,255,255,0.9) 75%,
      #ffffff 100%
    ),
    url("../assets/falsiani.jpeg");

  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.conteudo {
  position: relative;
  z-index: 2;
  padding: 19.8vh 20px 80px;
  text-align: center;
}

.monograma img {
  width: 480px;
  margin-bottom: 20px;
}

.bencao {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  color:#c0c0c0 ;
  letter-spacing: 1px;
}

.nomes {
  font-family: 'Imperial Script', cursive;
  font-style: italic, bold;
  letter-spacing: 2px;
  font-size: 80px;
  background: linear-gradient(45deg, #c0c0c0, #395502);
  -webkit-background-clip: text;
  color: #2c4200;
  margin-bottom: 30px;
}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 30px;
}

.mes, .hora {
  font-size: 16px;
  color: #2c4200;
}

.dia {
  font-size: 40px;
  color: #2c4200;
  font-weight: 600;
}

.local {
  margin-top: 20px;
}

.titulo-local {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: #2c4200;
}

.nome-local {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  margin-top: 8px;
  color: #2c4200;
}

.ornamento {
  width: 80px;
  height: 2px;
  background: linear-gradient(to right, #C0C0C0, #2c4200);
  margin: 30px auto;
}

.rodape {
  font-size: 14px;
  color: #2c4200;
}

/* BASE */
.ornamento-base {
  position: absolute;
  bottom: -2%;
  right: -4%;
  width: 200px;
  opacity: 0.8;
  pointer-events: none;
   z-index: 1;
}

.ornamento-lateral {
  position: absolute;
  bottom: -6%;
  right: 30%;
  width: 200px;
  opacity: 0.8;
  pointer-events: none;
   z-index: 1;
}

.acoes {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

/* Botão circular */
.botao-circular {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
  position: relative;
  overflow: hidden;
}

/* Ícone */
.icone {
  width: 22px;
  height: 22px;
  margin-bottom: 6px;
}

/* Texto */
.botao-circular span {
  font-size: 12px;
  font-weight: 500;
}

/* Confirmar */
.confirmar {
  background: #556B2F;
  color: #ffffff;
  box-shadow: 0 8px 20px rgba(85,107,47,0.25);
}

/* Local */
.localizacao {
  border: 2px solid #556B2F;
  color: #556B2F;
  background: transparent;
}

/* Micro animação ao toque */
.botao-circular:active {
  transform: scale(0.92);
}

/* Hover suave (desktop) */
.botao-circular:hover {
  transform: translateY(-4px);
}

/* RESPONSIVO */
@media (max-width: 600px) {

  .nomes {
    font-size: 60px;
    font-weight: 300;
    margin: 0;
  }

  .dia {
    font-size: 30px;
  }

  .data {
    flex-direction: column;
    gap: 0;
    margin: 0;
  }

  body {
    padding: 1px 1px;
  }

.bencao {
    font-size: 14px;
}

.monograma img {
  width: 120px;
  margin-bottom: 0px;
}

.ornamento {
  width: 80px;
  height: 2px;
  background: linear-gradient(to right, #C0C0C0, #6B8E23);
  margin: 10px auto;
}

.nome-local {
    margin-top: 0;
}

.ornamento-lateral {
  right:48%;
  bottom: -2%;
}

/* Botão circular */
.botao-circular {
  width: 70px;
  height: 70px;
}
}
